
body{
    background-color:black;
    margin-left:5%;
    margin-right:5%;
}
h1,h2,h3
{
    color: white;
    font-family:verdana;
    text-align: left;
}
#maintext
{
    color: white
    font-family:arial;
    text-align: justify;
}
.fullwidthContent{
width: 70%
}
a{
    font-size: 35px;
}